doctype
html(lang="pt-br")

    head
        link(rel="stylesheet", href="css/lib/reset/reset.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="css/lib/materialize/materialize.min.css")
        link(rel="stylesheet", href="css/styles/home.css")

        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        
        title Home

    body
        div(class="navbar-fixed")
            nav
                div(id="navbar" class="nav-wrapper")
                    a(class="brand-logo center" href="/")
                        i(class="material-icons") mouse

    script(type="text/javascript" src="js/materialize.min.js")