doctype
html(lang="pt-br")
    
    head
        include ./default/head
        link(rel="stylesheet", href="css/styles/home.css")

        title Home
    body
        include ./default/navbar
        
        div#form.row
            form(class="col l4 offset-l4" action="/login" method="POST")
                h1.center(style="font-style: castellar") Login
                div.row
                    div(class="input-field col s12")
                        input(placeholder="Digite seu e-mail" name="email" id="email" type="email" class="validate")
                        label(for="email") E-mail
                    
                    div(class="input-field col s12")
                        input(placeholder="Digite sua senha" name="senha" id="senha" type="password" class="validate")
                        label(for="senha") Senha
                        
                        a(href="/cadastro") Cadastre-se
                    
                    div(class="input-field col s4 offset-s8")    
                        button(class="btn waves-effect waves-light deep-purple lighten-1 col s12" type="submit") Entrar
                            i(class="material-icons right") send
                
        //- include ./default/footer

        include ./default/scripts
        script.
            System.defaultJSExtensions = true;
            System.import('/home/controller')
                .catch(function(err){
                    console.error(err);
            });
