link(rel="stylesheet", href="css/lib/reset/reset.css")
link(rel="stylesheet", href="css/styles/default/navbar.css")

meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
