h1{
    /* font-family: 'Rockwell', Arial, Helvetica, sans-serif; */
    font-size: 600%;
    /* font-style: italic; */
}

#select{
    margin-top: 15%;
    position: absolute;
}

.background-theme{
    background-color: #7e57c2; 
}
